body {
    background: url(../assets/fondo_baloncesto.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: auto;
    background-size: auto;
    background-size: cover;
    position: relative;
}